*{
  background-color: antiquewhite;
  color: darkred;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  text-align: center;

}

button {
  border-color: rgb(170, 200, 226);
  border-width: 5px;
  margin-top: 10px;
}


